/*  */
.advice {
  background: linear-gradient(rgba(58, 55, 55, 0.438), rgba(53, 49, 49, 0.678)),
    url(../images/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.design {
  background: linear-gradient(rgba(58, 55, 55, 0.438), rgba(53, 49, 49, 0.678)),
    url(../images/design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.analytics {
  background: linear-gradient(rgba(58, 55, 55, 0.781), rgba(46, 43, 43, 0.733)),
    url(../images/analytics.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.shop {
  background: linear-gradient(rgba(58, 55, 55, 0.438), rgba(53, 49, 49, 0.678)),
    url(../images/shopping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.coding {
  background: linear-gradient(rgba(58, 55, 55, 0.438), rgba(53, 49, 49, 0.678)),
    url(../images/coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.seo {
  background: linear-gradient(rgba(58, 55, 55, 0.438), rgba(53, 49, 49, 0.678)),
    url(../images/seo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Active */
.advice.active {
  background: linear-gradient(rgba(29, 29, 29, 0.753), rgba(22, 22, 22, 0.884)),
    url(../images/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.design.active {
  background: linear-gradient(rgba(29, 29, 29, 0.753), rgba(22, 22, 22, 0.884)),
    url(../images/design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.analytics.active {
  background: linear-gradient(rgba(29, 29, 29, 0.753), rgba(22, 22, 22, 0.884)),
    url(../images/analytics.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.shop.active {
  background: linear-gradient(rgba(29, 29, 29, 0.753), rgba(22, 22, 22, 0.884)),
    url(../images/shopping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.coding.active {
  background: linear-gradient(rgba(29, 29, 29, 0.753), rgba(22, 22, 22, 0.884)),
    url(../images/coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.seo.active {
  background: linear-gradient(rgba(29, 29, 29, 0.897), rgba(22, 22, 22, 0.884)),
    url(../images/seo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*  */
