/* Hero Section */
.hero {
  height: 85vh;
  color: white;
  display: flex;
  align-items: center;
  padding: var(--only-gutter);
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.726),
      rgba(17, 17, 17, 0.884)
    ),
    url(../images/shopping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-family: NunitoExtraDeep;
  font-size: 4.5rem;
}

.hero h3 {
  width: 60%;
  margin-top: 0.6rem;
  font-weight: 400;
}

.hero .call-to-actions {
  color: white;
  gap: 1rem;
  display: flex;
}

.hero button {
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 2.5rem;
}

.hero button i {
  top: 0.01rem;
  left: 0.3rem;
  font-size: 0.8rem;
  position: relative;
}

.hero button.outline {
  color: white;
  border: none;
}

@media screen and (max-width: 650px) {
  .hero h1 {
    font-size: 2.7rem;
  }
  .hero h3 {
    width: 100%;
  }
  .hero .call-to-actions {
    gap: 0.5rem;
  }
}


/* Intro */
.intro {
  display: flex;
  justify-content: space-between;
  padding: var(--section-gutter);
}
.intro > div {
  width: 40%;
}

.intro div h1 {
  font-size: 2.7rem;
  font-family: NunitoExtraDeep;
}

.intro img {
  width: 50%;
  max-height: 500px;
}

.intro button {
  margin-top: 1.3rem;
}

.intro.other-1 {
  flex-direction: row-reverse;
}


@media screen and (max-width: 650px) {
  .intro {
    flex-direction: column-reverse;
  }
  .intro > div {
    width: 100%;
  }
  .intro img {
    width: 100%;
  }
  .intro.other-1 {
    flex-direction: column-reverse;
  }
}



/* Our Services Section */
.new-services {
  color: white;
  padding: var(--section-gutter);
  background-color: var(--secondary-color);
}

.new-services .services-cards {
  flex-wrap: wrap;
  margin-top: 4rem;
  gap: 6rem 0;
  display: flex;
  justify-content: space-between;
}

.new-services .services-card {
  gap: 1rem;
  display: flex;
  cursor: pointer;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 23%;
  height: fit-content;
  border-radius: 0.3rem;
  font-weight: 700;
  font-family: nunitoBold;
}

.new-services .services-card i {
  font-size: 3.5rem;
  color: var(--link-red);
}

.new-services .services-card p {
  max-height: 47px;
  overflow: hidden;
  font-weight: 300;
  font-family: NunitoRegular;
}

.new-services .services-card a {
  text-decoration: underline;
  margin-top: 1rem;
  display: block;
  color: var(--link-red);
}

.new-services .services-card a i {
  font-size: 0.7rem;
}

.new-services .services-card:hover {
  margin-top: -2rem;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.new-services .services-card:hover p {
  max-height: 900px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

@media screen and (max-width: 650px) {
  .new-services .services-card {
    width: 100%;
  }

  .new-services .services-card p {
    max-height: 700px;
  }
}



.content {
  display: flex;
  justify-content: space-between;
}

.content .info {
  width: 50%;
}

.content .info h1 {
  margin-bottom: 0.5rem;
}

.content .img-div {
  width: 35%;
}

.content img {
  width: 100%;
}

.content .advantages {
  margin-top: 2rem;
}

.content .advantages h3 {
  font-family: NunitoBold;
}

.content .advantages section {
  display: flex;
  gap: 3rem;
}

.content .advantages ul {
  margin: 1.5rem 0 0 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.content .advantages ul li i {
  margin-right: 0.3rem;
  color: var(--primary-color);
}

.call-to-actions {
  margin-left: 1rem;
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
}

.call-to-actions .outline {
  color: black;
  border: 1px solid var(--secondary-color);
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column-reverse;
  }

  .content .info,
  .content .img-div {
    margin-bottom: 1rem;
    width: 100%;
  }

  .content .advantages section {
    gap: 0;
    flex-direction: column;
  }

  .call-to-actions {
    margin: 0;
    margin-top: 2rem;
    gap: 1.3rem;
    display: flex;
    flex-direction: column;
  }
}


.contact {
  text-align: center;
  padding: var(--section-gutter);
  background-color: var(--light-red);
}

.contact div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.contact form {
  width: 35%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.contact form * {
  border-radius: .2rem;
}

.contact form input, textarea {
  padding: .7rem;
  border: 1px solid lightgray;
}

.contact form input:focus, textarea:focus {
  outline: 1px solid var(--light-blue);
}

@media screen and (max-width: 650px) {
  .contact form {
    width: 100%;
  }
}