.button {
  font-family: NunitoDeep;
  cursor: pointer;
  border: none;
  color: white;
  padding: .8rem 2.2rem;
  background-color: var(--secondary-color);
}

.outline {
  background-color: transparent;
}

.button i {
  top: .01rem;
  left: .3rem;
  font-size: .8rem;
  position: relative;
}

button:hover {
  transform: scale(1.05);
}

.line {
  padding: .1rem;
  border: none;
  background-color: var(--primary-color);
}