:root {
  /* --primary-color: #380641dc; */
  /* --primary-color: #380641c4;
  --secondary-color: #380641c4; */

  --light-blue: #0659b1;
  --light-red: #f1f6ff;
  --primary-color: #06315f;
  --secondary-color: #193145;
  --background-color: #38064125;
  --link-red: rgb(236, 98, 98);

  --gutter: 5rem;
  --only-gutter: 0 5rem 0 5rem;
  --section-gutter: 4rem var(--gutter);
  --card-shadow: 1px 1px 2px lightgray;
}

@media screen and (max-width: 650px) {
  :root {
    --gutter: 0.6rem;
    --only-gutter: 0 var(--gutter) 0 1rem;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --gutter: 1rem;
    --only-gutter: 0 var(--gutter) 0 var(--gutter);
  }
}

@media screen and (min-width: 1500px) {
  :root {
    --gutter: 10rem;
    --only-gutter: 0 var(--gutter) 0 var(--gutter);
  }
}

ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: NunitoLight;
  /* background-color: var(--background-color); */
}

h1.title {
  text-transform: capitalize;
  font-size: 1.9rem;
  font-family: NunitoExtraDeep;
}

a {
  color: black;
  text-decoration: none;
}

.nav-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0.55rem var(--gutter) 0.6rem var(--gutter);
}

.nav-1 a {
  color: white;
}

.nav-1 a:hover {
  text-decoration: underline;
}

.nav-1 i {
  top: 0.13rem;
  position: relative;
}

.nav-1 div {
  gap: 2rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.nav-1 div section {
  position: relative;
}

.nav-1 div section i {
  font-size: 0.9rem;
  position: absolute;
  top: 0.45rem;
  right: 0.4rem;
}

.nav-1 input {
  padding: 0.3rem;
}

.nav-1 input:focus {
  outline: none;
}

.nav-2 {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  box-shadow: var(--card-shadow);
  justify-content: space-between;
  background-color: white;
  padding: 1rem var(--gutter) 1rem var(--gutter);
}

.nav-2 h1 {
  font-size: 1.2rem;
  font-family: NunitoDeep;
}

.nav-2 .nav-items {
  gap: 2rem;
  display: flex;
  align-items: center;
  font-family: NunitoRegular;
}

.nav-2 a {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.nav-2 .nav-icon {
  display: none;
}

.nav-2 button {
  padding: 0.6rem 1.8rem;
  color: black;
  border: 1px solid var(--secondary-color);
}

.nav-2 button:hover {
  color: white;
  background-color: var(--secondary-color);
}

.nav-2 button:hover i {
  color: white;
}

.nav-drawer {
  display: none;
}

.nav-2 .nav-items li a:hover {
  color: var(--light-blue);
}

.nav-2 li.competence-link > a,
.nav-2 li.company-link > a,
.nav-2 li.credentials-link > a {
  position: relative;
  z-index: 22;
}

/* Credentials */
.nav-2 .credentials-link {
  position: relative;
}

.nav-2 .credentials-link div {
  display: none;
  position: absolute;
  left: -1rem;
  z-index: 33;
}

.nav-2 .credentials-link div ul {
  gap: 0.7rem;
  display: flex;
  margin-top: 0.7rem;
  flex-direction: column;
  padding: 1rem;
  width: 20vw;
  background-color: white;
  box-shadow: var(--card-shadow);
  border: 1px solid rgba(211, 211, 211, 0.822);
}

.nav-2 li.competence-link .competence-link-div,
.nav-2 li.company-link .company-link-div,
.nav-2 li.work-link div {
  display: none;
  position: absolute;
  z-index: 34;
  top: 4vh;
}

.nav-2 .nav-items li a:hover div.competence-link-div,
.nav-2 .nav-items li a:hover div.company-link-div {
  display: flex !important;
}

.nav-2 li.competence-link .competence-link-div {
  overflow-y: scroll;
  height: 95vh;
  width: 88vw;
  left: -30vw;
  padding-bottom: 2rem;
}

.nav-2 li.company-link .company-link-div {
  overflow-y: scroll;
  height: 95vh;
  width: 88vw;
  left: -50vw;
  padding-bottom: 2rem;
}

.nav-2 .company-link-div h4 {
  margin: .7rem 0;
}

.nav-2 .company-link-div .links {
  /* text-align: center; */
  margin-top: 2rem;
}

.company-link-div .links ul {
  margin-top: .7rem;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}

.company-link-div .links ul li {
  text-decoration: underline;
}

.company-link-div .links img {
  padding: .3rem;
  width: 110px;
  height: 50px;
  /* background-color: white; */
}

.company-link-div .links ul li:hover {
  color: black;
  text-decoration: underline;
}

.company-link-div .action-items {
  text-align: center;
  width: 26%;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-link-div .action-items img {
  height: 150px;
  border-radius: 50%;
}

.company-link-div .action-items ul {
  flex-wrap: nowrap;
  gap: .6rem !important;
  display: flex;
  flex-direction: row;
}

.company-link-div .action-items ul li:hover {
  color: black;
  text-decoration: underline 1px black !important;
}

.company-link-div .action-items button {
  color: var(--link-red);
}


.nav-2 .story-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0;
  justify-content: space-between;
}

.nav-2 .story-cards .story-card {
  width: 32%;
}

.nav-2 .story-cards .story-card img {
  height: 200px;
}

.nav-2 .story-cards .story-card:hover h3 {
  text-decoration: underline 2px var(--link-red);
}

.nav-2 .nav-large-menu {
  height: fit-content;
  margin-top: 1.5rem;
  background-color: var(--secondary-color);
  border: 1px solid rgba(61, 60, 60, 0.822);
}

.competence-link .nav-large-menu,
.company-link .nav-large-menu {
  color: white;
  width: 100%;
  display: flex;
}

.nav-2 .competence-link .service-items,
.nav-2 .company-link .service-items {
  padding: 2rem;
  width: 65%;
  height: 100%;
  background-color: var(--light-blue);
}

.nav-2 .competence-link .action-items,
.nav-2 .company-link .action-items {
  padding: 2rem;
}

.nav-2 .competence-link .action-items .items ul,
.nav-2 .company-link .action-items .items ul {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.nav-2 .competence-link .action-items .items li:hover,
.nav-2 .company-link .action-items .items li:hover {
  text-decoration: underline 2px var(--link-red);
}

@media screen and (max-width: 650px) {
  .nav-1 {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    gap: 0.6rem;
    flex-direction: column;
  }
  #articles {
    display: none;
  }
  .nav-1 div {
    gap: 0.7rem;
  }

  .nav-1 section {
    display: none;
  }



  .nav-2 .nav-items {
    display: none;
  }
  .nav-2 i {
    font-size: 1.5rem;
    display: flex !important;
  }

  .nav-drawer {
    color: white;
    padding: 1.5rem 1.5rem 1rem 2rem;
    width: 68%;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    flex-direction: column;
    z-index: 9999;
    background-color: var(--secondary-color);
  }

  .nav-drawer i {
    text-align: right;
    font-size: 2rem;
  }

  .nav-drawer ul {
    gap: 2rem;
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    list-style-type: none;
  }

  .nav-drawer a {
    color: white;
  }

  .nav-drawer li {
    font-size: 1.5rem;
  }

  .nav-drawer button {
    width: 100%;
    border: 1px solid white;
  }
}

/* Footer Section */
.footer {
  gap: 1rem;
  margin-top: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  padding-top: 3rem;
  background-color: var(--secondary-color);
}

.footer .links {
  display: flex;
  gap: 2rem;
}

.footer .links i {
  color: white;
  font-size: 1.1rem;
}

.footer .links i:hover {
  color: var(--link-red);
}

.footer ul {
  gap: 1rem;
  display: flex;
  list-style-type: none;
}

.footer ul a {
  font-size: 0.95rem;
  color: white;
}

.footer ul a:hover {
  color: var(--link-red);
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .footer {
    gap: 2rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.button {
  font-family: NunitoDeep;
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.8rem 2.2rem;
  background-color: var(--secondary-color);
}

.outline {
  background-color: transparent;
}

.button i {
  top: 0.01rem;
  left: 0.3rem;
  font-size: 0.8rem;
  position: relative;
}

button:hover {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform: scale(1.03);
}

.line {
  padding: 0.1rem;
  border: none;
  background-color: var(--primary-color);
}
